<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <h1>Document Management System</h1>
            <nav>
                <a href="{{ url_for('view_folders') }}" class="nav-link">View Folders</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main>
        <div class="main-content">
            <h2>Welcome to the Document Management System</h2>
            <p>Organize and manage them efficiently!</p>
            <a href="{{ url_for('view_folders') }}" class="btn">View Folders</a>
        </div>
    </main>
    {% block content %}
    {% endblock %}
    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Document Management System | Designed by Prince Patel</p>
    </footer>
</body>
</html>
